*{
	margin: 0;
	padding: 0;
}
form.calc-form{
	display: flex;
	padding: 10px;
}
.left, .right {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.popup {
	position: absolute;
	padding: 50px;
	background: lightgrey;
	margin: 0 auto;
	display: none;
}
